<!DOCTYPE html>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Techmark Manager</title>
  </head>
  <body>

    <div class='indexTitle'> &lt;techmarkManager/&gt;</div>

    <div class='indexBody'>

    <button id="signUpButton">Sign Up</button>

    <form id="signUpForm"action='/user' method="post">
      <p><label>First Name</label><input class="entryField" type="text" name="first_name" value='<%= @user.first_name %>' placeholder="John" required></p>
      <p><label>Last Name</label><input class="entryField" type="text" name="last_name" value="<%= @user.last_name %>" placeholder="Smith" required></p>
      <p><label>Email</label><input class="entryField" type="text" name="email" value="<%= @user.email %>" placeholder="johnsmith@example.com" required></p>
      <p><label>Username</label><input class="entryField" type="text" name="username" value="<%= @user.username %>"  placeholder="JohnSmith1" required></p>
      <p><label>Password</label><input class="entryField" type="password" name="password" placeholder="Password" required></p>
      <p><label>Confirm Password</label><input class="entryField" type="password" name="password_confirmation" placeholder="Confirm Password" required></p>
      <input type="submit" value="Sign up"></p>
    </form>

    <button id="signInButton">Sign In</button>

    <form id="signInForm" action="/session" method="post">
      <p><label>Username</label><input class="entryField" type="text" name="username" placeholder="Username"></p>
      <p><label>Password</label><input class="entryField" type="password" name="password" placeholder="Password"></p>
      <input type="submit" value="Sign in">
    </form>



  </div>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

  </body>

  <script type="text/javascript" src="javascript/app.js"></script>


</html>
