

<ul id="links">
  <% @links.each do |link| %>
    <ul>
      URL: <%= link.url %>
      Title: <a src="/<%= link.url %>"><%= link.title %></a>
      Category: <%= link.category %>
      Description: <%= link.description %>
    </ul>
  <% end %>
</ul>

<a href='/links/new'>Add a new link</a>
